@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: expo-arabic-bold;
  src: url('/fonts/expo-arabic-bold.ttf');
}

@font-face {
  font-family: expo-arabic-medium;
  src: url('/fonts/expo-arabic-medium.ttf');
}

@font-face {
  font-family: expo-arabic-light;
  src: url('/fonts/expo-arabic-light.ttf');
}

html {
  transition:
    background-color 300ms,
    color 300ms;
}

* {
  transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 3px;
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.toast-container.toast-bottom-center .ngx-toastr {
  font-size: 0.83rem !important;
  margin: 0 auto !important;
}

.toast-container .ngx-toastr.toast-success,
.toast-container .ngx-toastr.toast-error,
.toast-container .ngx-toastr.toast-info,
.toast-container .ngx-toastr.toast-warning {
  background-size: 20px 20px !important;
}
