# Ignore node_modules directory
client/web/node_modules

# Ignore temporary files
*.tmp
*.swp

# Ignore build directories
server/target
client/web/dist
client/web/.angular

# Ignore iOS client
client/ios

# Ignore scripts
scripts

# Ignore certificates
certs

# Ignore environment files
.env
.env.local
.env.*

# Ignore Docker-related files
server/Dockerfile
client/web/Dockerfile
docker-compose.yml
Makefile

# Ignore Git-related files
.git
.gitignore
CONTRIBUTING.md
LICENSE
*.md

# Ignore CI/CD
.github

# Ignore IDE-specific files
.vscode
.idea
.editorconfig
.clippy.toml
.rustfmt.toml

# Ignore test/coverage files
client/web/coverage
client/web/karma.conf.js

# Ignore OS-specific files
.hg
.bzr
.svn
._darcs
BitKeeper
CVS
**/.DS_Store
