# Ignore node_modules directory
client/web/node_modules

# Ignore temporary files
*.tmp
*.swp

# Ignore build directories
server/target
client/web/dist
scripts

# Ignore environment files
.env
.env.local

# Ignore Docker-related files
server/Dockerfile
client/web/Dockerfile
docker-compose.yml

# Ignore Git-related files
.git
.gitignore

# Ignore IDE-specific files
.vscode
.idea
.github
.editorconfig
.clippy.toml
.rustfmt.toml

# Ignore OS-specific files
.hg
.bzr
.svn
._darcs
BitKeeper
CVS
