# Ignore node_modules directory
client/node_modules

# Ignore temporary files
*.tmp
*.swp

# Ignore build directories
server/target
client/dist
scripts

# Ignore environment files
.env
.env.local

# Ignore Docker-related files
server/Dockerfile
client/Dockerfile
docker-compose.yml

# Ignore Git-related files
.git
.gitignore

# Ignore IDE-specific files
.vscode
.idea
.github
.editorconfig
.clippy.toml
.rustfmt.toml
