<!-- LinkedIn -->
<a
  href="https://www.linkedin.com/in/sulaiman-alromaih-845700202/"
  title="LinkedIn"
  target="_blank"
  rel="noopener noreferrer nofollow"
  class="inline-flex items-center gap-2 hover:opacity-75"
>
  <img
    src="/icons/linkedin.svg"
    alt="LinkedIn"
    title="LinkedIn"
    class="h-6 w-6"
    loading="lazy"
    width="24"
    height="24"
  />
</a>

<!-- GitHub -->
<a
  href="https://github.com/SloMR/pastepoint"
  title="GitHub"
  target="_blank"
  rel="noopener noreferrer nofollow"
  class="inline-flex items-center gap-2 hover:opacity-75"
>
  <img
    src="/icons/github.svg"
    alt="GitHub"
    title="GitHub"
    class="h-6 w-6"
    loading="lazy"
    width="24"
    height="24"
  />
</a>

<!-- X (Twitter) -->
<a
  href="https://x.com/PastePoint"
  title="X (Twitter)"
  target="_blank"
  rel="noopener noreferrer nofollow"
  class="inline-flex items-center gap-2 hover:opacity-75"
>
  <img
    src="/icons/x-icon.svg"
    alt="X (Twitter)"
    title="X (Twitter)"
    class="h-6 w-6"
    loading="lazy"
    width="24"
    height="24"
  />
</a>

<!-- Instagram -->
<a
  href="https://www.instagram.com/paste_point/"
  title="Instagram"
  target="_blank"
  rel="noopener noreferrer nofollow"
  class="inline-flex items-center gap-2 hover:opacity-75"
>
  <img
    src="/icons/instagram-icon.svg"
    alt="Instagram"
    title="Instagram"
    class="h-6 w-6"
    loading="lazy"
    width="24"
    height="24"
  />
</a>
