<!-- LinkedIn -->
<a
  href="https://www.linkedin.com/in/sulaiman-alromaih-845700202/"
  title="LinkedIn"
  target="_blank"
  rel="noopener noreferrer nofollow"
  class="opacity-60 grayscale transition hover:opacity-100 hover:grayscale-0"
>
  <img
    src="/icons/linkedin.svg"
    alt="LinkedIn"
    title="LinkedIn"
    class="h-[18px] w-[18px]"
    loading="lazy"
    width="18"
    height="18"
  />
</a>

<!-- GitHub -->
<a
  href="https://github.com/SloMR/pastepoint"
  title="GitHub"
  target="_blank"
  rel="noopener noreferrer nofollow"
  class="opacity-60 grayscale transition hover:opacity-100 hover:grayscale-0"
>
  <img
    src="/icons/github.svg"
    alt="GitHub"
    title="GitHub"
    class="h-[18px] w-[18px]"
    loading="lazy"
    width="18"
    height="18"
  />
</a>

<!-- X (Twitter) -->
<a
  href="https://x.com/PastePoint"
  title="X (Twitter)"
  target="_blank"
  rel="noopener noreferrer nofollow"
  class="opacity-60 grayscale transition hover:opacity-100 hover:grayscale-0"
>
  <img
    src="/icons/x-icon.svg"
    alt="X (Twitter)"
    title="X (Twitter)"
    class="h-[18px] w-[18px]"
    loading="lazy"
    width="18"
    height="18"
  />
</a>

<!-- Instagram -->
<a
  href="https://www.instagram.com/paste_point/"
  title="Instagram"
  target="_blank"
  rel="noopener noreferrer nofollow"
  class="opacity-60 grayscale transition hover:opacity-100 hover:grayscale-0"
>
  <img
    src="/icons/instagram-icon.svg"
    alt="Instagram"
    title="Instagram"
    class="h-[18px] w-[18px]"
    loading="lazy"
    width="18"
    height="18"
  />
</a>
