<div class="flex w-full gap-2">
  <input
    type="text"
    [(ngModel)]="code"
    (keydown.enter)="submit()"
    class="min-w-0 flex-1 rounded-lg border bg-transparent px-3 text-sm h-[38px] border-inputBackground font-expoArabicMedium text-textMuted outline-none dark:border-surfaceDark dark:bg-surfaceDark dark:text-contentMuted"
    [placeholder]="'SESSION_CODE_PLACEHOLDER' | translate"
  />
  @if (showScan) {
    <button
      type="button"
      (click)="scanRequested.emit()"
      class="flex flex-shrink-0 items-center justify-center rounded-lg border w-[38px] h-[38px] border-brand text-brand hover:bg-brand/10 dark:border-brandDark dark:text-brandDark dark:hover:bg-brandDark/10"
      [title]="'SCAN_QR_CODE' | translate"
      [attr.aria-label]="'SCAN_QR_CODE' | translate"
    >
      <img src="/icons/qrcode.svg" alt="" class="h-4 w-4" width="16" height="16" />
    </button>
  }
  <button
    type="button"
    (click)="submit()"
    [disabled]="!canJoin"
    class="flex-shrink-0 rounded-lg px-4 text-sm text-white h-[38px] bg-brand font-expoArabicMedium hover:bg-brand/80 disabled:cursor-not-allowed disabled:opacity-50 dark:bg-brandDark dark:hover:bg-brandDark/80"
  >
    {{ 'JOIN' | translate }}
  </button>
</div>
