[package]
name = "server"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "server"
path = "src/main.rs"

[dependencies]
actix = "0.13"
actix-files = "0.6"
actix-broker = "0.4"
actix-web = { version = "4.7", features = ["openssl"] }
actix-web-actors = "4.1"
actix-cors = "0.7.0"
actix-http = "3.8.0"
names = { version = "0.14.0", default-features = false }
derive_more = "0.99"
openssl = { version = "0.10" }
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
base64 = "0.13"

env_logger = "0.11"
log = "0.4"
rand = "0.8"