.chat-container {
  width: 100%;
  min-width: 700px;
  max-width: 1500px;
  background-color: var(--container-bg-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: auto;
  box-sizing: border-box;
}

.chat-header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 16px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-main {
  flex: 1;
  display: flex;
  overflow: hidden;
  padding: 20px 0;
}

.chat-sidebar {
  flex-basis: 40%;
  background-color: var(--sidebar-bg-color);
  padding: 20px;
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
}

.sidebar-title {
  margin-bottom: 10px;
  color: var(--text-color);
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: var(--messages-bg-color);
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--message-bg-color);
  border-radius: 6px;
  color: var(--text-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.chat-footer {
  padding: 12px 15px;
  background-color: var(--footer-bg-color);
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
}

.message-form {
  display: flex;
  align-items: center;
  width: 100%;
}

.message-input {
  flex: 1;
  margin-right: 10px;
}

.message-input input {
  font-size: 1rem;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--input-bg-color);
  color: var(--text-color);
}

.user-icon {
  margin-right: 5px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.my-message {
  border-radius: 10px;
  padding: 5px;
}

.send-button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: var(--button-hover-bg-color);
}

.join-room-button {
  width: 100%;
  padding: 30px;
  background-color: #353535 !important;
  color: #fff !important;
  transition: background-color 0.3s;
}

.join-room-button:hover {
  background-color: var(--button-hover-bg-color);
}

.member-item {
  display: flex;
  align-items: center;
}

.user-icon {
  margin-right: 8px;
  color: #fff;
  font-size: 24px;
}

.room-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.room-list li {
  margin-bottom: 10px;
  color: var(--text-color); /* Ensure text is visible */
}

.room-list li button {
  width: 100%;
  padding: 10px;
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border-radius: 4px;
  text-align: left;
  transition: background-color 0.3s;
}

.room-list li button:hover {
  background-color: var(--button-hover-bg-color);
}

.room-list .active button {
  background-color: var(--active-button-bg-color);
  color: var(--active-button-text-color);
}

.incoming-file-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.incoming-file-card {
  width: 400px;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

mat-card-header {
  display: flex;
  align-items: center;
}

mat-icon {
  margin-right: 8px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}
