<!-- MARK: - Join Session Popup -->
@if (isOpen) {
  <div
    [class]="isOpen ? 'opacity-100 animate-fade-in' : 'opacity-0 animate-fade-out'"
    class="fixed inset-0 grid place-items-end bg-black/80 z-[10000] sm:place-content-center"
    (click)="closed.emit()"
  >
    <div
      class="w-full rounded-2xl rounded-b-none bg-white px-4 py-8 pb-20 h-[300px] animate-slide-up dark:bg-baseDark sm:w-[550px] sm:rounded-b-2xl sm:px-8"
      (click)="$event.stopPropagation()"
    >
      <div class="flex w-full flex-col gap-8 sm:gap-10">
        <div class="flex items-center justify-between">
          <h2
            class="font-semibold text-[22px] font-expoArabic text-content leading-[100%] dark:text-white"
          >
            {{ 'JOIN_A_PRIVATE_SESSION' | translate }}
          </h2>
          <img
            src="/icons/cross-close.svg"
            alt="Close"
            title="Close"
            class="h-4 w-4 cursor-pointer"
            (click)="closed.emit()"
            loading="lazy"
            width="16"
            height="16"
          />
        </div>
        <div class="flex w-full flex-col gap-2">
          <label
            class="text-base font-expoArabicMedium text-textMuted leading-[100%] dark:text-contentMuted"
            >{{ 'ENTER_SESSION_CODE' | translate }}</label
          >
          <input
            type="text"
            [ngModel]="sessionCode"
            (ngModelChange)="sessionCodeChange.emit($event)"
            class="w-full rounded-lg border p-2 px-4 text-base h-[50px] border-inputBackground font-expoArabicMedium text-textMuted leading-[100%] dark:border-surfaceDark dark:bg-surfaceDark dark:text-contentMuted"
            placeholder="{{ 'SESSION_CODE_PLACEHOLDER' | translate }}"
          />
          <p
            class="m-0 text-xs font-expoArabicMedium text-textMuted leading-[100%] dark:text-contentMuted"
          >
            {{ 'SESSION_CODE_DESCRIPTION' | translate }}
          </p>
        </div>
        <div class="flex w-full items-center justify-between gap-4">
          <button
            (click)="submitted.emit()"
            class="w-full rounded-lg text-base text-white h-[44px] bg-brand font-expoArabicMedium leading-[100%] hover:bg-brand/80 dark:bg-brandDark dark:hover:bg-brandDark/80"
          >
            {{ 'DONE' | translate }}
          </button>
          <button
            (click)="closed.emit()"
            class="w-full rounded-lg border bg-white text-base h-[44px] text-brand border-brand font-expoArabicMedium leading-[100%] hover:bg-brand/10 dark:bg-baseDark dark:text-brandDark dark:border-brandDark dark:hover:bg-brandDark/10"
          >
            {{ 'CANCEL' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
}
