<!-- MARK: - Main Container -->
<div
  [attr.dir]="isRTL ? 'rtl' : 'ltr'"
  class="flex h-screen flex-col bg-pageBackground dark:bg-baseDark"
>
  <!-- MARK: - Header Section -->
  <app-page-header
    [isDarkMode]="isDarkMode"
    [isRTL]="isRTL"
    [currentLanguage]="translate.currentLang"
    (toggleTheme)="toggleTheme()"
    (switchLanguage)="switchLanguage($event)"
  />

  <!-- MARK: - Main Content Area -->
  <main class="flex flex-1 items-center justify-center bg-pageBackground dark:bg-baseDark">
    <div class="mx-auto max-w-md p-4 text-center">
      <!-- MARK: - 404 Image -->
      <img
        [src]="isDarkMode ? '/icons/404-dark.svg' : '/icons/404-light.svg'"
        alt="404"
        title="404"
        class="mx-auto mb-4"
        loading="lazy"
        width="400"
        height="300"
      />
      <!-- MARK: - Heading with Icon -->
      <h2
        class="mb-2 flex items-center justify-center gap-4 font-bold text-[28px] font-expoArabicMedium text-secondary-900 dark:text-white"
      >
        <!-- Exclamation circle -->
        <div
          class="flex items-center justify-center rounded-md w-[28px] h-[28px]"
          [ngClass]="isDarkMode ? 'bg-brand' : 'bg-brandDark'"
        >
          <img
            [src]="isDarkMode ? '/icons/warning-dark.svg' : '/icons/warning-light.svg'"
            alt="warning"
            title="warning"
            loading="lazy"
            width="28"
            height="28"
          />
        </div>
        {{ 'PAGE_NOT_FOUND' | translate }}
      </h2>
      <!-- MARK: - Description -->
      <p class="mb-6 text-secondary-700 font-expoArabicMedium dark:text-secondary-300">
        {{ 'INVALID_LINK_MESSAGE' | translate }}
      </p>
      <!-- MARK: - Go Back Button -->
      <div class="flex w-full items-center justify-center">
        <button
          class="flex items-center justify-center gap-2 rounded-md px-4 py-2 text-white font-expoArabicMedium bg-brand hover:bg-brand/80 dark:bg-brandDark dark:hover:bg-brandDark/80"
          routerLink="/"
          title="Go Back"
        >
          <img
            src="/icons/back-arrow.svg"
            alt="arrow-right"
            title="Go Back"
            [ngClass]="isRTL ? 'rotate-0' : 'rotate-180'"
            loading="lazy"
            width="16"
            height="16"
          />
          {{ 'GO_BACK_HOME' | translate }}
        </button>
      </div>
    </div>
  </main>

  <!-- MARK: - Footer -->
  <app-page-footer [appVersion]="appVersion" [showPrivacyLink]="true" />
</div>
